STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
FLASK_STATIC_DIR="html_client"
STRIPE_API_KEY="your_stripe_api_key"
STRIPE_AW_PRICE_ID="your_stripe_price_id
SUCCESSFUL_SUBSCRIPTION_PAGE="successful_subs_page_url"
FAILED_SUBSCRIPTION_PAGE="bubble_failed_subs_page"